@page "/"

<PageTitle>Home</PageTitle>

<h1>Are you setting up trivia, presenting, or participating?</h1>

<a href="/Admin">Admin</a>
<a href="/Presenter">Presenting</a>
<a href="/Participant">Participating</a>
